<div class="about-section">
  <div class="container">
    <h2 class="section-title" data-aos="fade-down">Sobre mí</h2>

    <div data-aos="fade-up" class="additional-content">
    </div>

    <div class="bio-content">
      <div class="bio-item" data-aos="fade-up">
        <div class="bio-icon">
          <i class="fas fa-user"></i>
        </div>
        <div class="bio-text">
          <h3>¿Quién Soy?</h3>
          <p>Soy Álvaro Lozano Pérez, un apasionado desarrollador de aplicaciones web y móviles. He finalizado recientemente el Grado Superior en Desarrollo de Aplicaciones Multiplataforma y estoy deseando entrar en este ámbito laboral, ya que tengo muchas ganas de aprender nuevos lenguajes y ganar experiencia en este emocionante sector.</p>
        </div>
      </div>

      <div class="bio-item" data-aos="fade-up" data-aos-delay="100">
        <div class="bio-icon">
          <i class="fas fa-rocket"></i>
        </div>
        <div class="bio-text">
          <h3>Habilidades y Tecnologías</h3>
          <p>Me considero una persona sociable, trabajadora, acostumbrada a trabajar bajo presión, y tengo un gran interés en aprender y mejorar continuamente. Mis habilidades incluyen el desarrollo de aplicaciones con Android Studio, la gestión de bases de datos con Spring Boot, y la creación de interfaces de usuario intuitivas.</p>
        </div>
      </div>

      <div class="bio-item" data-aos="fade-up" data-aos-delay="200">
        <div class="bio-icon">
          <i class="fas fa-briefcase"></i>
        </div>
        <div class="bio-text">
          <h3>Mi Trayectoria</h3>
          <p>Durante gran parte de mi vida, me dediqué a la atención al cliente. En 2022, decidí dar un giro a mi carrera y enfocarme en la programación, una pasión que siempre tuve. Desde entonces, he adquirido conocimientos en diversos lenguajes y tecnologías, y actualmente estoy trabajando como freelance en el desarrollo de la aplicación ProducTime.</p>
        </div>
      </div>

      <div class="bio-item" data-aos="fade-up" data-aos-delay="300">
        <div class="bio-icon">
          <i class="fas fa-heart"></i>
        </div>
        <div class="bio-text">
          <h3>Intereses Personales</h3>
          <p>Cuando no estoy programando, disfruto de la lectura, los viajes y pasar tiempo con mi familia y amigos. Me encanta explorar nuevas tecnologías y lenguajes. Aspiro a crear una aplicación o solución innovadora que realmente marque la diferencia en la vida de las personas.</p>
        </div>
      </div>
    </div>
    
    <div data-aos="fade-down" class="additional-content">
    </div>
  </div>
</div>


