<div class="about-section">
  <div class="bg-white mx-auto mt-4">
    <header class="text-center mb-2">
      <h2 class="text-lg font-bold text-gray-800">Contacto</h2>
    </header>
    <section class="flex">
      <div class="contact-item">
        <i class="fas fa-envelope text-blue-500"></i>
        <p class="text-gray-700 text-sm">
          <span class="contact-label">Correo:</span>
          <a href="mailto:alvaro.lozanop29&#64;gmail.com" class="text-blue-500 hover:underline">alvaro.lozanop29&#64;gmail.com</a>
        </p>
      </div>
      <div class="contact-item">
        <i class="fab fa-linkedin text-blue-500"></i>
        <p class="text-gray-700 text-sm">
          <span class="contact-label">LinkedIn:</span>
          <a href="https://www.linkedin.com/in/AlvaroLozanoLink" class="text-blue-500 hover:underline" target="_blank">AlvaroLozanoLink</a>
        </p>
      </div>
      <div class="contact-item">
        <i class="fab fa-github text-blue-500"></i>
        <p class="text-gray-700 text-sm">
          <span class="contact-label">GitHub:</span>
          <a href="https://github.com/alozano2" class="text-blue-500 hover:underline" target="_blank">https://github.com/alozano2</a>
        </p>
      </div>
    </section>
  </div>
</div>

