<div [ngClass]="backgroundClass" class="project-details">
    <div class="container">
        <div class="project-header">
            <h1 class="project-title">Menú Home</h1>
          </div>
      <div class="screenshots">
        <div *ngFor="let screenshot of screenshots" class="screenshot-content">
          <img [src]="screenshot.imgSrc" [alt]="screenshot.alt" class="project-image" />
          <p [ngClass]="textColorClass" class="screenshot-description">{{ screenshot.description }}</p>
        </div>
      </div>
    </div>
  </div>
  
  
